table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
    margin: 30px 0px;
}

td.number, th {
    border: 1px solid #dddddd;
    padding: 13px;
    text-align: center;
}
tr.odd {
    padding: 15px !important;
}
td.name {
    text-align: left;
    padding: 20px;
    border: 1px solid #dddddd;
}

tr:nth-child(even) {
    background-color: #f4f4f4;
}
.header {
    padding: 30px 20px 10px 20px;
}
.header h2 {
    font-size: 22px;
    font-weight: bold;
    text-align: center;
}
.header p.note {
    text-align: center;
    font-style: italic;
    font-size: 16px;
}
.header .school {
    display: flex;
    width: 800px;
    margin: auto;
    justify-content: space-between;
    margin-top: 50px;
}
.header .school .col-left p, .header .school .col-right p {
    text-align: center;
    font-size: 18px;
}
.header .school .col-left p.science{
    font-weight: bold;
}
.header .school .col-right p {
    font-style: italic;
}
.header h1 {
    font-size: 24px;
    font-weight: bold;
    text-align: center;
}
.header .title p.year {
    text-align: center;
    font-style: italic;
    font-weight: bold;
    font-size: 18px;
}
.content {
    padding: 0px 50px;
    margin-bottom: 50px;
}
.content h3 {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 15px;
}
.content .result {
    padding: 15px 50px;
}
.content .result p {
    font-size: 18px;
}
.content .result p span {
    font-weight: bold;
    color: #ae1111;
}
.filter-data {
    margin-bottom: 30px;
}
.filter-data select {
    height: 35px;
    width: 200px;
    margin-right: 40px;
}
p.error {
    color: #721c24;
    background-color: #f8d7da;
    border-color: #f5c6cb;
    padding: 15px;
    border-radius: 4px;
    font-weight: 600;
    width: 92%;
}
select.eval-tk {
    display: inline-block;
    width: 90%;
    margin-top: 30px;
    height: 40px;
    border-radius: 3px;
    border: 1px solid #cccccc;
}
td.dataTables_empty {
    color: #721c24;
    background-color: #f8d7da;
    border-color: #f5c6cb;
}
