*{margin:0;padding:0; }
 
  
  /* Style the search field */
  form.example input[type=text] {
    padding: 10px;
    font-size: 17px;
    border: 1px solid grey;
    float: left;
    width: 50%;
    height: 10%;
    border-radius: 3px;
    background: #f1f1f1;
    margin-left: 150px;
   
  }
  /* .se {
    -right: 100px;
  } */
  /* Style the submit button */
  form.example button {
    float: left;
    width: 10%;
    height: 43px!important;
    padding: 10px;
    border-radius: 3px;
    background: #007f49;
    color: white;
    font-size: 17px;
    border: 1px solid grey;
    border-left: none; /* Prevent double borders */
    cursor: pointer;
  }
  
  form.example button:hover {
    background:#007f49;
  }
  
  /* Clear floats */
  form.example::after {
    content: "";
    clear: both;
    display: table;
  }
  .logout a, .login a {
    padding-right: 10px; 
    cursor: pointer; 
    color: black; 
    text-decoration: none;
  }
  .co .title {
    padding-right: 10px; 
    cursor: pointer; 
    color: #007f49; 
    text-decoration: none;
    font-family: Arial;
    font-size: 13px;
    font-weight: bold;
  }
  div .title2 {
    padding-right: 10px; 
    cursor: pointer; 
    color: black; 
    text-decoration: none;
    font-family: Arial;
    font-size: 13px;
    font-weight: bold;
  }
  li .link{
    padding-right: 10px; 
    cursor: pointer; 
    color: gray; 
    text-decoration: none;
    font-family: Arial;
    font-size: 13px;
    font-weight: bold; 
  }
  li {
    padding-bottom: 15px;
  }
  .donvi {
    background-color:#c4151c;
    color: white;
    font-family: Arial;
    font-size: 12px;
    color: #f1f1f1;
    font-weight: bold;
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    height:145px; 
    width:308px;
    list-style-type: disc;
  }
  .donvi ul {
    line-height: 0.5;
    list-style-type: disc;
  }
  .imm {
    display: flex;
  }
  .divimgrightbt {
    padding-left: 30px;
  }
  .new {
    padding-left: 30px;
  }
  .menu ul{
    width: 1085px;
    display: flex;
    list-style: none;
    justify-content: space-between;
    text-decoration: none;
    background: -webkit-gradient(linear, left top, right top, from(#cec3c3), to(#e7e7e7)); 
  }
  .menu ul li{
    padding-top: 10px;
    padding-left: 5px;
    padding-right: 5px;
  }
  .menu ul li a{
    text-decoration: none;
    color: black;
    cursor: pointer;

  }
  .menu ul li:hover{
    background-color: gray; 
    color: black;
    cursor: pointer;
  }
  .menu1{
 
    height: 30px;
    border-bottom-left-radius: 8px;
    margin-top: 0px;
    float: left;
    background: -webkit-gradient(linear, left top, right top, from(#c7c8c9), to(#ebecec));
    text-align: center;
    vertical-align: top;
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 5px;
  }
  .menu1 a {
    cursor: pointer;
  }
  div.menu1 a {
    text-decoration: none;
    color: #56606a;
    font-family: Arial;
    font-size: 13px;
    font-weight: bold;
}
.img-user .img_user_data {
    float: left;
    width: 100%;
    padding: 15px;
    border-bottom: 1px solid #ccc;
}
.img-user .img_user_data img {
    float: left;
    width: 80px;
    height: 80px;
    margin: 0;
    max-width: 100%;
}
.img-user .img_user_data .name_user {
    width: 100px;
    display: block;
    margin: 0;
    float: left;
    font-size: 15px;
    margin-left: 21px;
    text-align: left;
    text-overflow: ellipsis;
    white-space: nowrap;
    word-wrap: normal;
}
.user_logout {
    float: left;
    width: 100%;
    line-height: 48px;
}
.img-user .user_logout a {
    width: 100%;
    display: block;
    margin: 0;
    float: left;
    text-align: left;
    padding: 0 15px;
    font-size: 17px;
	text-decoration: none;
}
.user_logout a {
    transition: all .2s;
}
.user_logout a:hover {
    background-color: #b1b5b9 !important;
    color: #fff !important;
}
#user-logout::before {
    font-size: 1.4em;
    display: block;
    width: 0;
    height: 0;
    content: '';
    pointer-events: none;
    border-right: 10px solid transparent;
    border-bottom: 10px solid #fff;
    border-left: 10px solid transparent;
    position: absolute;
    top: -.45em;
    right: .97em;
}
.img-user #user-logout {
    display: block;
    border-radius: 3px;
    position: absolute;
    top: 37px;
    right: 74px !important;
    min-width: 270px !important;
    box-shadow: 0 0 60px rgba(14,42,71,0.25);
    text-align: center;
    background-color: rgb(255, 255, 255);
}
.user_profile:hover {
    color: #fff !important;
    box-shadow: 0 4px 5px 0 rgb(249, 249, 249), 0 1px 10px 0 rgba(249, 249, 249, 0.58), 0 2px 4px -1px rgb(249, 249, 249);
    background-color: #b5bdc3 !important;
}